.poster_menu a{
    padding: 10px;
    background-color: #dddddd;
    display: inline;
    float: right;
}
.poster_menu {
    margin-left: 10%;
    margin-right: 10%;
}
.poster_menu p{
    float: left;
}
.poster_menu img{
    width: 100%;
}
.main_text h1{
    float: left;
}