html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: Century Gothic, sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    /* Android <= 2.3, iOS <= 4 */
    -moz-box-sizing: border-box;
    /* Firefox 1+ */
    box-sizing: border-box;
    /* Chrome, IE 8+, Opera, Safari 5.1 */
}


/* margins to accomodate a fixed navbar, also remove that annoying gap on the left */

body {
    margin-top: 6.5em;
    margin-right: 0%;
    margin-left: 0%;
    background-color: white;
}

logo {
    width: 30%;
    height: 25px;
    float: left;
}


/* Making the navbar fixed to the screen */

header {
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: white;
    margin-right: 0px;
    margin-left: 0px;
    border-bottom: 0.1em solid rgba(194, 255, 26, 0.9);
}

.social_icons {
    margin-right: 1em;
    margin-top: 0.5em;
    padding: 0px;
    float: right;
}

.social_icons li {
    display: inline-block;
    margin-left: -1px;
}

.social_icons a {
    vertical-align: middle;
}

.social_icons img {
    height: 40px;
    width: 40px;
}

footer {
    float: left;
    width: 100%;
    background-color: #3F3023;
}

footer > small {
    float: left;
    font-family: Century Gothic, sans-serif;
    color: white;
    margin: 10px;
    bottom: 0px;
}

footer a {
    font-family: Century Gothic, sans-serif;
    font-variant: small-caps;
    text-decoration: none;
    color: white;
    padding: 10px;
    float: right;
}


/* Setting up the logic for dropdown menus */

.topnav {
    position: relative;
    display: table;
    width: 100%;
    height: 50px;
    font-family: Copperplate, Copperplate Gothic Light, sans-serif;
    font-variant: small-caps;
    border-top: 1px solid rgba(194, 255, 26, 0.9);
    background-color: inherit;
}

.topnav a {
    color: black;
}


/* change background colour when hovering over an element */

.nav a:hover {
    color: #3F3023;
    background-color: cornsilk;
    text-decoration: none;
}

.topnav a:visited {
    color: black;
}


/* make the navbar scalable, resizing it to fix users screen */

.topnav li {
    display: table-cell;
    position: relative;
    width: 1%;
    text-align: center;
}


/* style properties for links in the navbar */

.topnav li a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
}


/* setting up the submenu, making it hidden by default and setting its position to anchor the parent */

.submenu {
    display: none;
    position: absolute;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: white;
    text-decoration: none;
    border-bottom: 0.1em solid rgba(194, 255, 26, 0.9);
    border-right: 0.1em solid rgba(194, 255, 26, 0.9);
    border-left: 0.1em solid rgba(194, 255, 26, 0.9);
}


/* unhide the navbar when hovering over li elements */

.topnav li:hover > ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

.topnav li > ul.submenu_resources {
    display: block!important;
}

.submenu a {
    text-align: center;
    vertical-align: middle;
    display: block;
    width: 100%;
    border: 0.1em solid rgba(194, 255, 26, 0.9);
}


/* look and layout of dropdown link elements */

.topnav li ul li {
    display: block;
    width: 100%;
}


/* set up the cells in the navbar. also adding transitions to animate the hover */

.topnav a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    min-width: 100px;
    font-size: 1.125em;
    text-decoration: none;
    text-align: center;
    border-right: 0.1em solid rgba(194, 255, 26, 0.9);
    /* transition */
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}


/* hiding the mobile elements from view on desktop */

.topnav .expand_menu {
    display: none;
}

.topnav .expand_submenu {
    display: none;
}


/* rules that happen when a mobile phone is detected */

@media only screen and (max-width: 630px) {
    /* hiding desktop menu bar */
    .topnav .nav {
        display: none;
    }
    /* setting up the mobile view */
    .topnav .nav_responsive {
        position: relative;
    }
    /* layout for menu button */
    .topnav .expand_menu {
        display: block;
        line-height: 2.7;
        height: inherit;
        text-align: center;
        border-bottom: 2px solid rgba(194, 255, 26, 0.9);
    }
    /* layout for the submenu expand button */
    .nav_responsive .expand_submenu {
        display: inline;
        position: absolute;
        right: 0px;
        float: right;
        line-height: 2.7;
        border-left: 2px solid rgba(194, 255, 26, 0.9);
        z-index: 1!important;
        height: auto;
    }
    /* override default hover over the link behaviour (stop it from spawning dropdowns) */
    .topnav li:hover > .submenu {
        display: none;
    }
    /* display submenu items */
    .nav_responsive .submenu_services {
        display: block;
        background-color: whitesmoke;
    }
    .nav_responsive .submenu_resources {
        display: block;
        background-color: whitesmoke;
    }
    .topnav li {
        display: inline;
        background-color: whitesmoke;
    }
    /* overriding global attributes to fit smaller screens */
    * {
        font-size: 1em!important;
    }
    .button {
        font-size: 1.5em!important;
        width: 60%!important;
        height: 4em!important;
        margin-left: 0em!important;
        padding: 0!important;
    }
    .button a {
        margin: -1em;
        padding: 0!important;
    }
    footer nav a:last-child,
    footer nav a:first-child {
        display: none!important;
        visibility: collapse!important;
    }
    .social_icons {
        display: none;
    }
    .logo img {
        width: 100%;
        height: 55px;
    }
    footer {
        font-size: 0.8em!important;
    }
}