body{
    margin-top: 60px;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #FFFFCC;
}
header{
    position: fixed;
    width: 80%;
    top: 0px;
    background-color: #dddddd;
}
.topnav li{
    display: inline;
    float: right;
}
.topnav{
    float: left;
    height: 50px;
    background: #dddddd;
}

.topnav a{
    padding: 10px;
    background-color: #dddddd;
    display: inline;
}
.logo{
    float: left;
}

main{
    width: 50%;
    float: left;
    text-align: justify;
}
aside.mainpage{
    padding-top: 65px;
    float: right;
    width: 45%;
}
footer{
    float: left;
    width: 100%;
    background-color: #dddddd;
}
footer a{
    padding: 10px;
}
