html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin-top: 150px;
    margin-right: 0%;
    margin-left: 0%;
    background-color: #d3d3d3;
    font-family: Century Gothic, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: #333;
    margin-right: 0px;
    margin-left: 0px;
}

.logo {
    float: left;
}

.social_icons {
<<<<<<< HEAD
    margin: 0px;
    padding: 0px;
=======
    margin: 0;
    padding: 0;
>>>>>>> origin/master
    float: right;
}

.social_icons li {
<<<<<<< HEAD
    display: inline-block;
=======
    display: inline;
>>>>>>> origin/master
    margin-left: -1px;
}

.social_icons a {
    vertical-align: middle;
}

.social_icons img {
    height: 40px;
    width: 40px;
}

.topnav {
<<<<<<< HEAD
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
=======
>>>>>>> origin/master
    clear: both;
    float: left;
    border-bottom: 1px solid #c7c7c8;
    border-top: 5px solid #c7c7c8;
    margin-bottom: 0;
    padding: 0;
    font-family: Copperplate, Copperplate Gothic Light, sans-serif;
    font-variant: small-caps;
}

.topnav li {
    float: left;
    border-left: 1px solid #c8c8c8;
    display: inline-block;
    text-align: left;
    list-style: none;
}

.topnav li:first-child {
    border-left: none;
}

.topnav li:last-child a {
    padding-right: 0;
}

.topnav a {
    display: inline-block;
    font-size: 1.125em;
    padding: .5em 1.15em .5em 1.4em;
    text-decoration: none;
    text-align: center;
    height: inherit;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    width: 10em;
}

.topnav a:hover {
    color: #029443;
    text-decoration: none;
}

.topnav .current-page,
.topnav .current-page:hover {
    color: sandybrown;
    cursor: default;
}


/* Navigation Submenus */

.topnav .submenu {
<<<<<<< HEAD
    display: none;
    margin-left: -10px;
    padding: 10px 10px 15px;
    border: 0;
    background-color: #333;
    position: absolute;
=======
    margin-left: -10px;
    padding: 10px 10px 15px;
    border: 0;
    background-color: silver;
    /* hide a submenu by default so visitors don't see it */
    left: -999em;
    position: absolute;
    z-index: 1000;
}

.topnav a {
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
>>>>>>> origin/master
}

.nav a:hover {
    color: #029443;
    background-color: cornsilk;
    text-decoration: none;
}


/** Show menu when mouse in on the item **/

.topnav li:hover .submenu {
    display: block;
    left: auto;
    width: 12em;
}


/**Setting submenu in the drop-down menu **/

.topnav .submenu li {
    float: none;
    font-size: .875em;
    margin-top: .5em;
    width: auto;
}

.poster img {
    margin-top: 70px;
    margin-right: 20%;
    float: right;
    margin-bottom: 0px;
    margin-left: 0px;
}

main {
    width: 50%;
    float: left;
    text-align: justify;
}


/*.45em 0 .5em*/

aside {
    margin-top: 63px;
    float: right;
    width: 45%;
    text-align: justify;
}

footer {
    float: left;
    width: 100%;
    background-color: #dddddd;
}

footer a {
    padding: 10px;
}

.poster_menu {
    margin-left: 10%;
    margin-right: 10%;
}

.poster_menu ul {
    float: left;
}

.poster_menu button {
    float: right;
}

.topnav ul li ul {
    display: none;
}

.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

.topnav li a:hover {
    background-color: #555;
}

.topnav li a:hover ul {
    display: block;
}