

div img.face {
    height: 20em;
    width: 16em;
    margin: 3% 2% 2% 5%;
}

.name{
    font-size: 1.5em;
    font-weight: 400;
}

.main-text{
    background-color: white!important;
}

.containerTop{
    margin-top: 5em;
}

div.big-img img{
    width: 15em;
    height: 10em;
    margin: 1em;
}
div.separator{
    height: 0.1em;
    background-color: green;
    margin-top: 1em;
    margin-bottom: 1em;
}
.readmore{
    margin: 1em;
}