div.container1.container_contact{
    background-color: #ECEEEF!important;
}
.contact_info {
    height: 90vh;
    margin-bottom: 5em;
}

.contact_details {
    font-size: 1em;
    text-align: center;
    padding-top: 1.1em;
}

.contact_info p.italic {
    font-weight: 600;
}

.contact_details h2 {
    font-size: 1.5em;
    font-weight: 600;
}

.map iframe {
    width: 100%;
    height: 60vh;
    margin-top: 7%;
}

.form{
    background-color: #f4f4f3!important;
    /*margin-top: 5em;*/
    border-top: 3px solid #5cb85c;
}

/* end form */

aside.page_contact {
    padding: 5% 2em 2em;
}

aside.page_contact img {
    max-width: 100%;
}

@media only screen and (max-width: 1000px) {
    aside img {
        display: none;
    }
    div.form{
        margin-top: 18em;
    }
}