.feedback {
    max-width: 100%;
    width: 50%;
    padding: 4% 2em 2em;
}

.text{
    text-align: center;
}

@media only screen and (max-width: 630px) {
    .feedback {
        display: none;
    }
}