.feedback {
    max-width: 100%;
    width: 50%;
    padding: 4% 2em 2em;
}

.text{
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .feedback {
        display: none;
    }
    .form{
        margin: 0!important;
        padding: 1em!important;
    }
}
.poster{
    margin-bottom: 0!important;
}
