.rostochki {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.counseling {
    background-color: white !important;
    padding-bottom: 0 !important;
}

.counseling main {
    padding-left: 5em;
}

.counseling li {
    list-style-type: disc;
}

.title {
    font-variant: small-caps;
}

.main-title {
    font-variant: small-caps;
    font-size: 2em;
    text-align: center;
    padding-top: 1.5em;
}

.api {
    background-color: #f4f4f3;
}

.question {
    text-align: center;
}

.container {
    margin-top: 5em;
}

@media only screen and (max-width: 630px){
    .aside-int{
        margin-left: 4em;
    }
}